.ant-input-affix-wrapper input{
    text-align: start !important;
}
.ant-input-affix-wrapper{
    outline: none !important;
    border: 0 !important;
    border-radius: 5px !important;
    padding:5px 10px !important;
    width: 400px !important;
    border: 1px solid black !important;
    text-align: start !important;
    font-size: 18px !important;
}